*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("../images/HiPaint_1721072713565.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 5%;
    margin-top: 5%;
}

@font-face {
    font-family: designer;
    src: url(../fonts/Designer.otf);
}

#chart-1{
    
}